pre-commit
python-dotenv
instructor==0.4.8
pdfservices-sdk==2.3.0
openai==1.10.0
instructor==0.4.8
tiktoken==0.5.2
dvc==3.6.0
dvc-s3==2.23.0
loguru==0.7.2
awscli==1.32.34
unicodedata2==15.1.0
numpy==1.26.4
pandas==2.2.0
pytz==2024.1
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.26
langchain-openai==0.0.7
tqdm==4.66.1
